/* .app {
  text-align: center;
  padding: 20px;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.add-player-button,
.calculate-winner-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-player-button:hover,
.calculate-winner-button:hover {
  background-color: #45a049;
} */


.app {
  text-align: center;
  padding: 20px;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.add-player-button,
.calculate-winner-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-player-button:hover,
.calculate-winner-button:hover {
  background-color: #45a049;
}
