/* .player {
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

.dice-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
} */


/* .player {
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

.dice-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
} */



/* 
.app {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
}

.app-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.rules {
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: left;
}

.rules h2 {
    margin-bottom: 10px;
}

.rules p,
.rules ul {
    margin: 10px 0;
    line-height: 1.6;
}

.players {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.add-player-button,
.calculate-winner-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-player-button:hover,
.calculate-winner-button:hover {
    background-color: #45a049;
} */


.player {
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    text-align: center;
}

.dice-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
